html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #EDEDEC;
}

p{
  font-size: 12px;
  text-align: justify;
}

ul a{
  color:black !important;
}

.navbar-default{
  background-color: #fff;
  border-color: #fff;
}

.navbar-brand img {
  height:250%;
}

#bs-example-navbar-collapse-1{

}

.search-icon{
  margin-left: 180px;
  margin-top: 7px;

}

.search-area {
  cursor: pointer;
}

.verticalLine {
  border-left:  solid #141414;

}

/* Container holding the image and the text */
.banner-container {
   position: relative;
}

/* .banner-container img{
  width:100%;
  height:30%;

} */

/* Bottom right text */
.banner-container .text-block {
   position: absolute;
   top: 40px;
   left: 275px;
   background-color: rgba(0,0,0,0.8);
   color: white;
   padding-left: 8px;
   padding-right: 15px;
   font-size: 35px;
}

.banner-container .intro-block {
   position: absolute;
   top: 24px;
   left: 555px;
   color: white;
   font-size: 33px;
   font-weight: bold;
}

.banner-container .btn {
   position: absolute;
   top: 30px;
   right: 285px;
   color: white;
   font-size: 12px;
   font-weight: bold;
   background-color:#88A1A4;
   border-radius:20px;
   border-color:#fff;
   border-width:2px;
}

footer .container {
  margin-top:10px;
}
footer .btn {
  color:black;
  font-weight:bold;
}

img {
  display: block;
}

.thumbnail {
  width:100%;
  position: relative;
  display: inline-block;
}

.caption {
  position: absolute;
  top: 11%;
  left: 28%;
  transform: translate( -26%, -26% );
  text-align: center;
  color: white;
  font-weight: bold;
}
.caption p{
  background-color: rgba(0,0,0,0.8);
   color: white;
   padding-left: 8px;
   padding-right: 15px;
   font-size: 35px;
}
@media (max-width: 520px) {
  .caption p {
    font-size: 16px;
  }
}

.side-bar {
  width: 1px;
  background-color: black;
  height: 90%;
  float: left;
}

h1{
  font-weight: bold;
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}
